p {
  text-align: center;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #67beaf;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #46efec;
}

.button:first-child {
  margin-top: 10px;
}

.button:last-child {
  margin-bottom: 0;
}

/* Style du contenu dans les boutons */
.button div {
  margin-bottom: 5px;
}

.button div:first-child {
  font-weight: bold;
}

.button div:last-child {
  font-size: 14px;
}

/* Style des brèves animations */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Appliquer l'animation aux boutons */
.button {
  animation: fade-in 0.5s ease-in-out;
}


#footer {
  text-align: center;
  padding: 10px 0;
  background-color: #0989ed;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
