body {
  background-image: url('images/fond-galaxie.avif');    
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

font-family: Arial, sans-serif;
margin: 0;
padding: 0;

}

p{
  text-align: center;
  color: white;
}

button {
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color:   #36f9e9  ;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:  #46efec ;
}

/* Style du contenu dans les boutons */
button div {
  margin-bottom: 5px;
}

button div:first-child {
  font-weight: bold;
}

button div:last-child {
  font-size: 14px;
}

/* Style des lignes de boutons */
button:not(:last-child) {
  border-bottom: 1px solid #FFFFFF;
}

/* Style des brèves animations */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Appliquer l'animation aux boutons */
button {
  animation: fade-in 0.5s ease-in-out;
}


#footer {
  text-align: center;
  padding: 10px 0;
  background-color: #0989ed ;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

